<div class="container">
    
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">
                Sejam bem vindes ao meu blog!
            </h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae explicabo deserunt nemo magnam excepturi officia harum natus, voluptatibus quo ullam. Eaque incidunt illo aperiam, molestiae quae esse. Eveniet, est ut?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sed velit. Dolores mollitia recusandae quidem alias aliquam nesciunt animi, eos quasi totam repellendus, doloribus similique libero aliquid quisquam cumque rem.
            </p>
        </div>
    </div>
</div>  
    
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink = '/feed'>Ver o feed</button>
        </div>
   